<h1><%= @team.city %> <%= @team.team_name %></h1>
<h3><%= "Division Leader: #{@team.division_leader}" %></h3>
<p><%= "Win Percentage: #{@team.win_percent}" %></p>
<p>Created At: <%= @team.created_at %></p>
<p>Updated At: <%= @team.updated_at %></p>

