<%= link_to "Players on the #{@team.team_name}", "/teams/#{@team.id}/players" %>
<%= link_to "Teams", "/teams" %>
<%= link_to "Players", "/players" %>

<h1><%= @team.city %> <%= @team.team_name %></h1>
<h3><%= "Division Leader: #{@team.division_leader}" %></h3>
<p><%= "Win Percentage: #{@team.win_percent}" %></p>
<p><%= "Currently rostering #{@team.player_count} players"%>
<p>Created At: <%= @team.created_at %></p>
<p>Updated At: <%= @team.updated_at %></p>

