<%= link_to "Teams", "/teams" %>
<%= link_to "Players", "/players" %>

<h1> <%= "#{@team.team_name}"%> players </h1>
<% @players.each do |player| %>
<h3><%= player.name %></h3>
  <p><%= player.slg %></p>
  <p><%= player.obp %></p>
  <p><%= player.rule_5_elig %></p>
  <p><%= player.handed %></p>

<% end %>
