<h1><%= @player.name %></h1>
<h3><%= "Handed: #{@player.handed}" %></h3>
<h5><%= "On Base Percentage: #{@player.obp}" %></h5>
<p><%= "Slugging Percentage:#{@player.slg}" %></p>
<p><%= "Rule 5 Eligible?: #{@player.rule_5_elig}" %></p>
<p>Created At: <%= @player.created_at %></p>
<p>Updated At: <%= @player.updated_at %></p>

